body {
  background-color:Snow;
  text-align:center;
  color:#282828;
  font-family:Helvetica,sans-serif;
}
.zbtgrad {
  background-color:#015AB9;
  background-image:linear-gradient(to bottom right, #015AB9, #FFCA06);
}
.divi {
  color:#FCFFDD;
	overflow:hidden;
	text-align:center;
	margin-top:5px;
}
.georg {
  font-family:Georgia;
}
